body{  
    text-align:center;
}

#container{
    width: 100%;
    margin: 0 auto;
}

#joc{
    position:relative;
    margin-top:20px;
}

#canvaJoc{
    background-color: #eee;
    width: 70%;
    height: 70%;
    border: #666 10px solid;
}
